html, body {
  font-family: 'Luckiest Guy', sans-serif;
  color: #34AA90;
  text-shadow: 1px 2px #0E705B;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #666;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  background-color: #61EDCE;
  border-right: 3px solid;
  border-bottom: 5px solid;
  border-color: #34AA90;
  color: #34AA90;
  font-size: 22px;
  line-height: 50px;
  height: 50px;
  padding: 8px 20px 0;
  margin: 0;
  border-radius: 25px;
}

#debug {
  position: absolute;
  top: 30px;
  left: 30px;
  pointer-events:none;
}

#score {
  margin-left: -74px;
  position: absolute;
  text-align: center;
  top: -86px;
  width: 148px;
  left: 50%;

  -webkit-transition: -webkit-transform 500ms ease-out;
  -moz-transition: -moz-transform 500ms ease-out;
  -o-transition: -o-transform 500ms ease-out;
  transition: transform 500ms ease-out;
}

#score.show {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
}

#score .board {
  background: url(../assets/score_box.png) top left no-repeat;
  font-size: 32px;
  height: 40px;
  letter-spacing: 3px;
  line-height: 40px;
  padding: 36px 0 10px;
  position: relative;
  width: 148px;
  z-index: 20;
}

#score .slug {
  position: absolute;
  top: 40px;
  text-align: center;
  width: 148px;
  z-index: 2;
  -webkit-transition: -webkit-transform 500ms ease-out;
  -moz-transition: -moz-transform 500ms ease-out;
  -o-transition: -o-transform 500ms ease-out;
  transition: transform 500ms ease-out;
}

#score .slug.show {
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#touch-controls {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.touch #touch-controls {
  display: block;
}

#touch-controls span {
  margin: 0 10px;
}

#touch-controls .right-turn {
  float: right;
}

